#body-container {
  height: 90vh;
  padding: 30px 25px;
}

#list-container {
  overflow: hidden;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal {
  position: absolute;
  top: 30%;
}
